.card__button-like {
  width: 22px;
  height: 19px;
  padding: 0 9px 0 11px;
  margin: 0;
  border: none;
  transition: .3s;
  cursor: pointer;
  background: url(../../../images/like/like_normal.svg) no-repeat;
  background-position: center center;
}
.card__button-like:focus {
  outline: none;
  opacity: .6;
}
.card__button-like:hover {
  opacity: .6;
}
